{% extends 'base.html' %}

{% block content %}
<div class="main" style="height:100%;width:100%;display: table;text-align: center;">
<div class="container">
    <br>
    <br>
    <br> 
    <br>
    <h1 class="text-center"><strong>멋쟁이 사자처럼 7기 </strong></h1>
    <br>
    <h4 class="text-right">경희대학교 국제캠퍼스 최윤아</h4> 
    <br>
    <br> 
    <br>
    <br>
    <h2>멋쟁이 사자처럼 3번째 과제입니다.</h2>
    <br>
    <br>
    <a href="https://class.likelion.org/assignments/7">LIKELION 3번째 과제</a>
    
</div>
</div>
    

{% endblock %}